body{
    height: 20rem;
    background-color: #bacca2;
    background-image: url(../images/background3.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
/*Introduction page*/
.intro1{
    position: relative;
    bottom: 2rem;
    display: flex;
    height: 40rem;
    border: 0;
    background-color: #186F65;
    border: 0%;
    background-image: url(../images/background3.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
.image1{
    height: 30rem;
    position: relative;
    top: 5rem;
    left: 33rem;
}
.name{
font-family: 'Allura', cursive;
font-size: xx-large;
position: relative;
left: 8rem;
top: 6rem;
}
.abtme{
    position: relative;
    
    font-size: 1.3rem;
    top: 20rem;
    right: 35rem;
}
.line{
    width: 50rem;
    position: relative;
    top:18rem;
    left: 2rem;
    border-bottom: 3px solid;
    z-index: 2;
  }
  /*Education language*/
.extra{
    height: 30rem;
    font-size:x-large;
    display: flex;
}
/*education*/
.extra1{
    position: relative;
    top:10rem;
}
.extra12{
   font-size: xx-large;
}
.b1{
    position: relative;
    left: 10rem;
    height: 2rem;
    background-color: #186F65;
    color: white;
    border-radius: .5rem;
}
/*Language*/
.extra2{
    position: relative;
    top:10rem;
    left: 5rem;
}
.lang1{
    display: flex;
    gap: 4rem;
    padding-top: 3rem;
}
.lang2{
    display: flex;
    gap: 4rem;
    padding-top: 3rem;
    padding-left: 1rem;
}
.rating{
    border-radius: 55%;
}
.vl {
    border-left: .3rem solid white;
    height: 500px;
    position: relative;
    top:8rem;
    left: 3rem;
  }
  /*media query*/
  @media(max-width: 1150px) and (min-width:200px){
    /*intro*/
    .intro1{
        width: 0rem;
    }
    .name{
        left: 3rem;
        height: 10rem;
    }
    .image1{
        width: 10rem;
        height: 15rem;
        left: 0;
        top:20rem;
    }
    .img12{
        height: 5rem;
        padding-left: 0;
        position: relative;
        right: 8rem;
    }
    .abtme{
        right: 23rem;
        top:37rem;
        text-align: center;
        width: 20rem;
    }
    .abtme1{
        width: 0;
        padding-left: 0%;
    }
    .line{
        width: 15rem;
    }
    /*education and language*/
    .extra1{
        right: 1.5rem;
        text-align: center;
        top:5rem;
    }
    .sub12{
        padding-left: 0%;
    }
    .vl{
        border-left: 0rem;
        width: 0;
    }
    .extra2{
        padding-left: 0%;
        left: 4rem;
        width: 2rem;
    }
    .lang1{
        flex-direction: column;
        gap: 1rem;
        width: 8rem;
    }
    .lang13{
        padding-left: 0;
        text-align: center;
    }
    .lang2{
        height: 0;
        width: 0;
    }
    .extra{
        flex-direction: column;
    }
    .b1{
        left: 1.5rem;
    }
  }