.navbar{
    background-color:#053B50;
    color:white;
    height: 1rem;
    padding: 1rem;
    width: 100%;
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    top:0px;
}
.left{
    width: 800px;
    font-family: 'Allura', cursive;
    font-weight: 100;
    font-size:1.5rem;
}
.right{
    display:inline-flex;
    justify-content: flex-end;
    gap:3rem;
    font-family: 'Lexend', sans-serif;
}

.big{
    background-color: #acccca;
    width: 40rem;
    height: 30rem;
    margin-left: 25rem;
    margin-top: 100px;
}
.profileimage{
    border-radius: 50%;
    height: 10rem;
    width: 10rem;
}
.left1{
    padding: 2rem;
    width:16rem;
    height: 26rem;
    border: .1rem solid #053B50;
}

