body{
    margin:0px;
}
.navbar{
    background-color:#053B50;
    color:white;
    height: 1rem;
    padding: 1rem;
    width: 100%;
    position: fixed;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.left{
    width: 800px;
    font-family: 'Allura', cursive;
    font-weight: 100;
    font-size:1.5rem;
}
.right{
    display:inline-flex;
    justify-content: flex-end;
    gap:3rem;
    font-family: 'Lexend', sans-serif;
}
@media(max-width:800px){
    .navbar{
        width: 100%;
        display:inline;
        height: 8rem;
        
    }
    .left{
        display: flex;
        align-items: center;
    }
    .right{
        display: flex;
        flex-direction: column;
        gap: .2rem;
        align-items: center;
    }
}