body{
    margin: 0%;
}


/*NAVBAR*/
#NAVBAR{
    display: flex;
    background-color: #305C7D;
    color: white;
    z-index: 2;
    position: fixed;
}
.name-main{
    width: 35rem;
}
.name-main1{
    height: 3.5rem;
}
.nav-main{
    display: flex;
    gap:4rem;
    width:40rem;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
}
.emaillinkedin-main{
    display: flex;
    gap:.5rem;
    align-items: center;
    width: 9.5rem;
}
.emaillinkedin-main1{
    height: 1.5rem;
}


/*HOME*/
#HOME{
    background-image: url(../images/image-image/Home-Background.jpg);
    height: 90.5vh;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    top: 3rem;
}
.Introdescription-main{
    display: flex;
    flex-direction: column;
height: 100vh;
width:50rem;
justify-content: center;
align-items: center;
gap:2rem;
}
.Introdescription-main1{
    height: 5rem;
    width:10rem;
    position: relative;
    right:4rem;
}
.Introdescription-main2{
    font-family: 'DM Serif Display', serif;
    font-size: xxx-large;
    position: relative;
    left: 8rem;
    bottom: 2rem;
}
.Introdescription-main3{
    font-family: 'DM Serif Display', serif;
    font-size: larger;
    position: relative;
    left: 5rem;
    bottom: 2rem;
}
.Introdescription-main4{
    background-color: #305C7D;
    color: white;
    height: 3rem;
    width: 9rem;
    border-radius: .5rem;
    font-weight: bold;
    font-size: large;
    position: relative;
    right:3rem;
    bottom: 2rem;
}
.Myimage-main1{
    height: 35rem;
    position: relative;

top:1.3rem;
left: 10rem;
z-index: 1;
}
.Myimage-main2{
    position: relative;
    bottom: 31.8rem;
    height: 35rem;
    left: 12.5rem;
}


/*ABOUT*/
#ABOUT{
    height: 99vh;
}
.smallerabout{
    background-color: #EDF1F8;
    height: 30rem;
    width:80rem;
    position: relative;
    top:6.5rem;
    left: 2.5rem;
    display: flex;
    gap:15rem;
}
.aboutme-image1{
    height: 15rem;
    position: relative;
    top:7.5rem;
    left: 5rem;
}
.aboutme1{
    height: 4rem;
position: relative;
top:2rem;
}
.aboutme2{
    font-family: 'DM Serif Display', serif;
    font-size: xx-large;
    position: relative;
    top:2rem;
    left: 1.5rem;
}
.aboutme3{
    position: relative;
    top:3rem;
    left:1.5rem;
    font-size: larger;
}
.aboutme4{
    display: flex;
    position: relative;
    top:5rem;
    left: 4rem;
    gap:7rem;
    font-weight: bolder;
    font-size: xx-large;
}
.aboutme44{
    color: white;
    background-color: #305C7D;
    border-radius: .5rem;
    font-weight: bolder;
    height:3rem;
    width:8rem;
}
.aboutme5{
    display: flex;
    position: relative;
    top:5rem;
    font-weight: bolder;
    color: #305C7D;
}
.aboutme51{
    position: relative;
    left:4.3rem;
}
.aboutme52{
    position: relative;
    left:10.5rem;
}
.aboutme53{
    position: relative;
    left:15rem;
}


/*SKILLS*/
#SKILLS{
    background-image: url(../images/image-image/background2.jpg);
    height: 100vh;
    background-position:right;
    background-size: cover;
}
.skills1{
    height: 8rem;
    position: relative;
    left: 33rem;
    top:4rem
}
.dropdown{
    position: relative;
    display: inline-block;
    left:15rem;
    top:1rem;
  }
  .dropdown11{
    font-size: xx-large;
    font-family: 'DM Serif Display', serif;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
font-family: 'DM Serif Display', serif;
font-weight: bolder;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .skills2{
    position: relative;
    top:5rem
}
.skills3{
    position: relative;
    top:2.5rem;
    width:13rem;
    left: 40rem;
}
.skills4{
    position: relative;
    top: 13rem;
    width:10rem;
}
.dropdownicon{
    height: 2rem;
    position: relative;
    top:.5rem;
    left: .5rem;
}


/*PROJECTS*/
#PROJECTS{
    height: 91vh;
}
.project{
        background-color: #EDF1F8;
        height: 30rem;
        width:80rem;
        position: relative;
        top:4rem;
        left: 2.5rem;
}
.project1{
    position: relative;
    left: 35rem;
}


/*CONTACT*/
#CONTACT{
    height: 70vh;
}
.contact-heading1{
    position: relative;
left:35rem;
font-family: 'DM Serif Display', serif;
    font-size: xx-large;
    width:20rem;
}
.contact-heading2{
    position: relative;
    left:37rem;
}
.form-filling{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 31rem;
    top:4rem;
    width:50rem;
    gap:1.5rem;
}
.form-filling1{
    display: flex;
    gap:3rem;
}
.form-filling11{
    height: 2rem;
}
.form-filling2{
    width: 25rem;
    height: 2rem;
}
.form-filling3{
    width: 25rem;
    height: 5rem;
}
.form-filling4{
    width: 5rem;
    height: 2rem;
    border-radius: .5rem;
    position: relative;
    left: 10rem;
    background-color: #305C7D;
    color: white;
}
.emaillinkedin-contact{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 18rem;
    right: 9rem;
    gap:2rem
}
.emaillinkedin-contact1, .emaillinkedin-contact2{
    height: 4rem;
    width: 4rem;
}
.emaillinkedin-contact1:hover {
    transform: rotate(20deg);
  }
  .emaillinkedin-contact2:hover {
    transform: rotate(20deg);
  }


  /*FOOTER*/
  #FOOTER{
    background-color: #305C7D;
    display: flex;
    position: relative;
    top:10rem;
    gap:5rem;
    height:15rem;
  }
.footer1{
    height: 8rem;
    position: relative;
    left: 4rem;
    top:2rem
}
.footer2{
    color: white;
    display: flex;
    flex-direction: column;
    gap:2rem;
    position: relative;
    left: 15rem;
    top:2rem;
    height: 3rem;
}
.footer3{
    color: white;
    display: flex;
    flex-direction: column;
    gap:2rem;
    position: relative;
    left: 25rem;
    top:2rem;
    height: 1rem;
}
.footer33, .footer34{
height: 2rem;
width: 2rem;
}
.footer34{
    position: relative;
    bottom: 5rem;
    left: 4rem;
}
.footer33{
    position: relative;
    bottom: 1rem;
}
.footer4{
    color: white;
    position: relative;
    top:13rem;
    height:1rem;
    right: 5rem;
}