body{
    margin:0px;
}
.home{
    height: 30rem;
    color: rgb(43, 41, 41);
    background-image: url(../images/background.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    z-index: -3;
}
.about{
    height: 37rem;
    background-color:#bacca2;
}
/*media query on mobile screen*/
@media(max-width: 1150px) and (min-width:200px){
    body{
        height: 0;
    }
    /*navbar*/
    .navbar{
        display: inline;
        height: 10rem;
        padding:0;
    }
    .left{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        left: 15rem;
        top:10px
    }
    .right{
        position: relative;
        top:2rem;
        display: flex;
        flex-direction: column;
        gap: .3rem;
        align-items: center;
        flex-shrink: 1;
        justify-content: center;
    }
    /*intro*/
    .big{
        display: flex;
        flex-direction: column;
        background-color: white;
       border: white;
       width: 0;
       left:10rem;
    }
    .left1 {
        border: white;
        height: 4rem;
    }
    .media{
        border: white;
        position: relative;
        top:11rem;
        left: 1rem;
    }
    .home{
        width: .1pt;
    }
    .des1{
        position: relative;
        top:3rem;
        left: 1rem;
        color: white;
    }
    .des2{
        position: relative;
        right:1.3rem;
        text-align: center;
    }
    .media1{
        left: 3rem;
    }
    .media2{
        
        left: 5rem;
    }
    .b1{
        top:3rem;
    }
    /*about me*/
    .about{
        width: 39rem;
        height: 50rem;
    }
    h3{
        width: 11rem;
    }
    .heading{
        left: 12rem;
    }
    .img12{
        padding: 0%;
    }
    .img1{
        left: .1rem;
    }
    .aboutme{
        top: 35rem;
        left: 0%;
        padding-left: 0%;
        width: 5rem;
    }
    .aboutme1{
        width: 25rem;
        position: relative;
        right: 18rem;
    }
    .b2{
        top:47rem;
        left:1px
    }
}